  {% extends  "base.twig" %}  
  {% block content %}
    <section class="container">
        <h1 class="title">Bienvenu dans Notre Page d'acceuil</h1>
        <p class="prg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sunt assumenda debitis, suscipit architecto facilis nobis dolor blanditiis nulla consectetur similique provident soluta, dolore, sapiente expedita dolores perferendis obcaecati magnam?
            <img id = "images" src="/images/meanstack.png" alt="meanstack">
        </p>
    </section>

  {% endblock %}
