
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prg{
    text-align: center;
    border: 1px solid #000;
    border-radius: 8px;
    text-align: center;
    padding-top: 25px;
}
.prg img{
    margin: 25px 0;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.title{
    margin: 25px 0;
    color: green;
    text-align: center;
}

.row{
    border: 1px solid black;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 8px;
}